.empty_space {
    display: flex;
    align-items: center;
}

.empty_space a{

    text-decoration: none;
    color: #3072C4;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
}

.empty_space a:hover{

    text-decoration: underline;
}