a {
    text-decoration: none;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.footer p{
    color: #A1A1A1;   
    display: inline-block;
    font-size: 0.908em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    position: relative;
}

.footer a{
    color: #A1A1A1;   
    display: inline-block;
    font-size: 0.908em;
    font-style: normal;
    font-weight: 400;
    margin: 0;
    position: relative;
}

.footer .logo-wrapper {
    position: relative;
    width: 200px;
    display: grid;
    grid-template-columns: 22px 1fr;
    grid-template-rows: 20px 1fr;
    grid-gap: 8px 9px;
}

.footer .extra-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    height: 45px;
}

.footer .extra-data a:hover {
    text-decoration: underline;
}

.footer .extra-data .extra-data__line {
    display: flex;
    height: 20px;
    justify-content: space-between;
}

span#logo-caption
{
    font-size: 1.1em;
    font-weight: 900;
}

#logo-caption-down
{
    display: inline-block;
    position: absolute;
    grid-column: 2;
    grid-row: 2;
}

#logo-img{
    background-image: url(../img/logo_footer.svg);
    display: inline-block;
    height: 22px;
    width: 23px;
}