.content {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  border-top: 4px solid #1E79BE;
  display: flex;
  flex-direction: column;
}

.content > div {
}
.content-head h1 {
  display: flex;
  font-size: 42px;
  font-weight: 300;
  padding: 30px 45px;
  margin: 0px;
}
.content-head-data {
  display: flex;
  justify-content: flex-start;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.06);
}
.content-head-data span {
  font-size: 22px;
  margin-left: 45px;
  padding-bottom: 22px;  
}
.content-head-data span:nth-last-child(1) {
  border-bottom: 4px solid #1E79BE;
}

.content-body {
  margin: 35px 0px 25px 55px;
  flex-grow: 1;
}
.content-body h2 {
  font-size: 32px;
  font-weight: 300;
}
.content-body .data-box {
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-wrap: wrap;
}
.content-body .data-card {
  display: flex;
  flex-direction: column;
  margin-bottom: 57px;
  flex-basis: 50%;
}
.content-body .data-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  padding-bottom: 5px;
}
.content-body .data-more {
  font-size: 14px;
  line-height: 18px;
  color: #a1a1a1;
  padding-bottom: 15px;
  flex-grow: 1;
}
.content-body .data-promo input {
  font-size: 14px;
  line-height: 20px;
  width: 110px;
  height: 32px;
  padding: 6px 15px 6px 10px;
  border: 1px solid #CECECE;
  box-sizing: border-box;
}
.content-body .data-promo a {
  font-size: 16px;
  line-height: 25px;
  padding-left: 10px;
}


.content-footer {
  margin: 0px 45px 50px 45px;
  border-top: solid 2px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.content-footer button {
  padding: 10px 15px 7px 15px;
  margin-top: 30px;
  border-radius: 2px;
  font-size: 16px;
  line-height: 25px;
}
.content-footer .close {
  background-color: #1E79BE;
  border: none;
  color: white;
}

.content-footer .save {
  background-color: #FFF;
  border: solid 1px #A1A1A1;
  margin-left: 15px;
  color: black;
}
