html {
  background-color: #E5E5E5;
  font-family: 'Roboto', sans-serif;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}
div.wrapper {
  height: 100%;
  background-color: #E5E5E5;
  display: grid;
  grid-template-columns: 1fr 1280px 1fr;
  grid-template-rows: 50px 57px 1fr 100px;
}
.header {
  grid-row: 1/2;
  grid-column: 1/4;

}
.empty_space {
  grid-row: 2/3;
  grid-column: 2/3;
}
.content {
  grid-row: 3/4;
  grid-column: 2/3;
}
.footer {
  grid-row: 4/5;
  grid-column: 2/3;
}
.content a {
  text-decoration: none;
  color: #3072C4;
}
