.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    font-weight: 400;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14), 0px 1px 6px rgba(0, 0, 0, 0.1);
}
.header .header-container {
    width: 1280px;
    margin: 0px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header .header__menu-items li {
    display: inline-block;
    margin-left: 26px;
}

.header__menu-items > li:last-child {
    position: relative;
}
.header__menu-items > li:last-child::before {

    position: absolute;
    content: ' ';
    width: 1px;
    height: 30px;
    background: rgba(0, 0, 0, 0.1);
    right: 55px;
    bottom: -5px;
}

.header .header__menu-items li a {
    color: black;
    text-decoration: none;
    display: inline-block;
}

.wrapper .header .header__logo {
    width: 225px;
    height: 34px;
    background-image: url(../img/logo.svg);
    margin: 12px 0px;
}